@charset "UTF-8";

@font-face {
    font-family: 'Obelix'; /* font name */
    src: url(fonts/Obelix.ttf); /* URL to font */
}

@font-face {
	font-family: 'Obelix_broken';
	src: url(fonts/Obelix_broken.ttf);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
}

.right {float: right;}

iframe {max-width: 100%;}

body {
	height: 100%;
	width: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
}

a {text-decoration: none;}

a:active {color: #8ce4a6}

img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}

/* Selection block*/

::selection {background: #f58b8b; color:#fff}
::-moz-selection {background: #f58b8b; color:#fff}

/*----------------------------
 header styles
 -----------------------------*/

header, footer {
	background-color: #fff;
	width: 96%;
}

header {padding: 2%;}

#logo {
	font-family: 'Obelix_broken', sans-serif;
	font-size: 2em;
	float: left;
	margin-right: 5%;
}

.topmenu {
	list-style: none;
	width: 50%;
	float: left;
	display: flex;
}

.topmenu > li > a {
  border-radius: 5px;
  padding: 5px 10px;
}

.submenu-link::after {
	content: "\f107";
	font-family: "FontAwesome";
	margin-left: 5px;
}

.topmenu > li > a:hover {background-color: #f7f7f7;}

.submenu {
	list-style: none;
  background-color: white;
	visibility: hidden;
  text-align: center;
}

.topmenu > li:hover .submenu {
  visibility: visible;;
}

#search-form {
	min-height: 20px;
	border: 2px solid silver;
	border-radius: 2px;
	margin-right: auto;
}

input[type=search] {
	border: none;
	float: left;
	padding: 2px;
}

input[type=image] {
	width: 20px;
	float: right;
}

/*-------------------------------
       Main content wrapper
 --------------------------------*/

#wrapper{
  width: 80%;
  margin-left: 10%;
  float: left;
}

/* -------------------------------
        Правая часть
----------------------------------*/

#leftCol {
  width: 65%;
  margin-right: 10%;
  float: left;
}

#leftCol article {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  float: left;
}

#leftCol article:last-child {margin-bottom: 0px;}

#leftCol article img {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

#leftCol article h2 {
  font-size: 1.2em;
  font-family: 'Obelix';
  color: #3e3e3f;
  width: 90%;
  margin-left: 5%;
  float: left;
}

#leftCol article p {
	font-size: 1em;
	font-family: Times New Roman, sans-serif;
	color: #3e3e3f;
	width: 86%;
	margin: 2% 7%;
	float: left;
}

#leftCol article a {color: #6accd7; font-size: 1.2em}
#leftCol article a:hover {color: #647f82}

#leftCol article span {
	float: right;
	color: #7c7c7c;
}

/* -------------------------------
		Правая часть сайта
----------------------------------*/

#wrapper #rightCol {
	width: 25%;
	float: left;
}

#rightCol .banner {
	width: 100%;
	float: left;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

#rightCol .banner:last-child {margin-bottom: 0}

#rightCol .banner span {
	font-size: 1em;
	font-family: 'Obelix';
	color: #3e3e3f;
	line-height: 450%;
}

/* -------------------------------
		Футер сайта
----------------------------------*/

footer {
	width: 98%;
	float: left;
	padding: 0.8% 1%;
	margin-top: 20px;
}
